<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="aop_test.UserDaoImpl"></bean>
    <bean id="userSer" class="aop_test.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <!--  前置通知-->
    <bean id="logAdvice" class="aop_test.LogAdvice"></bean>

    <!--  环绕通知-->
    <bean id="logAroundAdvice" class="aop_test.LogAroundAdvice"></bean>

    <!--  后置通知-->
    <bean id="afterAdvice" class="aop_test.AfterAdvice"></bean>

    <!--  异常通知-->
    <bean id="throwsLogAdvice" class="aop_test.ThrowsLogAdvice"></bean>

    <bean id="userProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" >
            <value>aop_test.UserService</value>
        </property>
        <property name="interceptorNames">
            <list>
                 <value>logAdvice</value>
                 <value>logAroundAdvice</value>
                 <value>afterAdvice</value>
                 <value>throwsLogAdvice</value>
            </list>
        </property>
        <property name="target" ref="userSer"></property>
    </bean>
</beans>